.secao{
    background-color: cornflowerblue;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    text-align: left;

}

.secao h1{
    color: rgb(152, 255, 255);

}

.titulo{
  text-align: center;
  
}

#navegação {
    display: flex;
    justify-content: space-around;
}

.secao{
    display: none;
}


