body{
  background-color: black;
  font-family: Sans-Serif;
}

footer{
 color: white;
 margin: auto;
 background-color: #232323;
 padding: 10px;
 
}

.secao{
    background-color: #49536488;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

.secao p{
  color: #a6a6a6;
}

.titulo{
  color: white;
}

#cabecalho{
  
}

.secao h1{
    color:#ffffff;
}

.titulo{
  text-align: center;
  
}

#navegacao{
  background-color: #5958586d;
  border-radius: 5px;
}

#navegacao p{
  background-color:#606060;
  color: white;
  padding: 4px;
  border-radius: 10px;
}
#navegacao p:hover{
  background-color:#2b2b2b
}


#navegacao {
    display: flex;
    justify-content: space-around;
}

.secao{
    display: none;
}

.secao.mostrar{
  display: block;
}

#secao.mostrar{
  display:block;
}





